.img-small {
    width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.img-lg {
  width: 130px;
  height: 130px;
  object-fit: cover;
  margin-right: 20px;
}