
.section-heading {
    font-size: 23px;
    font-weight: 500;
}

.block {
    max-height: 50%;
    min-width: 20px;
    background-color: green;
}


.img {
    height: 20px;
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 18px;
    }
}