<div class="container">
  <div class="container-body mt-4">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" [routerLink]="'/view-resume'">View Resume</button>
      <button class="btn btn-danger ms-2" (click)="logout()">Logout</button>
    </div>

    <mat-stepper class="example-stepper" #stepper [orientation]="(stepperOrientation | async)!">
      <mat-step [completed]="false">
        <app-personal heading="Personal Information" [stepper]="stepper"></app-personal>
      </mat-step>
      <mat-step [completed]="false">
        <app-education heading="Education" [stepper]="stepper"></app-education>
      </mat-step>
      <mat-step [completed]="false">
        <app-work heading="Work Experience" [stepper]="stepper">
        </app-work>
      </mat-step>
      <mat-step [completed]="false" >
        <app-skills heading="Skills" [stepper]="stepper"></app-skills>
      </mat-step>
      <mat-step [completed]="false">
        <app-certification heading="Certifications" [stepper]="stepper"></app-certification>
      </mat-step>
      <mat-step [completed]="false">
        <app-awards heading="Awards" [stepper]="stepper"></app-awards>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h1>Thanks for submitting your Information</h1>
        <div class="d-flex gap-2">
          <button class="btn btn-primary" matStepperPrevious>Back</button>
          <button class="btn btn-success" (click)="buildResume()">Build My Resume</button>
        </div>
      </mat-step>
    </mat-stepper>
  
  </div>
</div>