<h1>{{heading}}</h1>
<div *ngFor="let data of certificationData; let i = index" class="divider"> 
    <div class="d-flex gap-2 align-items-center">
        <input type="text" placeholder="Certification Name" class="form-control" [(ngModel)]="data.name">
         <input type="text" placeholder="From" class="form-control" [(ngModel)]="data.organization">
        <input type="date" placeholder="Year" class="form-control" [(ngModel)]="data.end">
        <button class="btn btn-sm btn-danger" *ngIf="i != 0" (click)="deleteCertificationItem(i)">X</button>
    </div>
</div>

<button class="btn btn-success btn-sm mb-3" (click)="addNewFields()">Add More</button>

<div class="d-flex gap-2">
    <button class="btn btn-primary" (click)="saveAndNext()">Save</button>
</div>
